/* .DashboardMainContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.NotesContainer {
    width: '50%';
    height: '80%';
    display: 'flex';
    flex-Wrap: 'wrap';
    flex-direction: row;
    position: relative;
    top: 100px;
    left: 200px;
    border: 1px solid blue;
} */